.titulo {
	display: flex;
	align-items: center;
	justify-content: center;
}

.contenedor {
	border: white 3px groove;
	border-radius: 20px;
	height: inherit;
}

.boton {
	display: flex;
	align-items: center;
	justify-content: center;
}
